@charset "UTF-8";


*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background: -webkit-linear-gradient(90deg, hsla(265, 53%, 29%, 1) 0%, hsla(24, 93%, 73%, 1) 100%);
    background-image: url(v996-026.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
}

main{
    margin: auto;
    max-width: 600px;
    text-align: center;
}

fieldset{

    margin-top: 70px;
    margin-bottom: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(2, 15, 54);
    border-color: rgb(2, 15, 54);
    padding: 10px 20px;
    text-align: center;
    display: inline-block;

}

div{

    padding: 5px;
    display: inline-flex;

}

input{
  
    padding: 5px;
    margin: 6px;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    padding: 15px;
  
}

nav{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-right: 30px;
    color: rgb(9, 4, 56);
}

div:hover{
    color: rgb(255, 255, 255)
    
    
}

a:hover{
    color: white;
}

button{
    margin: 15px;
    padding: 8px;
    color: white;
    background-color: royalblue;
}

label{
    padding: 5px;
    margin: 5px;
}

nav:focus{

    color:rgb(223, 231, 227)
}



footer{
    
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-bottom: 10px;
}